{% extends 'base.html' %}

{% block conteudo %}
    
        
    
    <div class="cor">
        <h1>Bienvenidos a nuestro sitio web <span class="highlight">La Dulce Tentación</span></h1>
        <h2>En este sitio web encontrará:</h2>
        <ul>
            <li>Bolos y Brownies</li>
            <li>Recetas de Postres</li>
            <li>Postres a Entrega Inmediata</li>
            <li>Sugerencias de Nuevas Recetas para Nosotros</li>
        </ul>
    </div>    
            
{% endblock conteudo %}